<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Lista de Autores</title>
    <script>
    function mostrarFechaHora() {
      var fechaHora = new Date(); // Obtiene la fecha y hora actual
      var fecha = fechaHora.toLocaleDateString(); // Obtiene la fecha en formato local
      var hora = fechaHora.toLocaleTimeString(); // Obtiene la hora en formato local

      // Actualiza los elementos HTML con la fecha y hora actual
      document.getElementById("fecha").innerHTML = "Fecha: " + fecha;
      document.getElementById("hora").innerHTML = "Hora: " + hora;
    }

    </script>



</head>
<body  background="a.jpeg">



    <nav class="navbar" style="background-color: #FFFACD">

        <a type="button" class="btn btn-secondary" th:href="@{/home}"><i class="bi bi-house-fill"></i>Inicio</a>
        <a type="button" class="btn btn-secondary"  th:href="@{/autores/nuevo}"><i class="bi bi-list-check"></i>Registrar de Autores</a>
        <a type="button" class="btn btn-secondary"  th:href="@{/libros}"><i class="bi bi-person-badge-fill"></i>Libros</a>
        <a type="button" class="btn btn-secondary"  th:href="@{/libros/nuevo}">  <i class="bi bi-journal-check"></i>Registrar Libros</a>
        <a type="button" class="btn btn-secondary" href="#" th:href="@{/}">Sistema de sesion</a>



    </nav>

    <div>
        <body onload="mostrarFechaHora()">

        <B><FONT COLOR ="white" ><p id="fecha"></p></FONT></B>
        <B><FONT COLOR ="white" > <p id="hora"></p></p></FONT>

    </div>


    <audio id="miMusica" src="Secret Garden- Serenade to Spring.mp3" controls></audio>

    <script>
  var miMusica = document.getElementById("miMusica");

  function reproducir() {
    miMusica.play();
  }

  function pausar() {
    miMusica.pause();
  }
</script>







<div class="container">
    <div th:if="${msgExito != null}" class="alert alert-success alert-dismissible">
        [[${msgExito}]]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <h1 style="text-align:center" class="p-3 mb-2 bg-gradient-warning text-white"><i class="bi bi-person-badge-fill"></i><em> Lista de autores </em> <i class="bi bi-people"></i></h1>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/autores/nuevo}" class="btn btn-secondary"><i class="bi bi-person-fill-add"></i> Agregar autor</a>
            </div>
        </div>

        <br>

        <table class="table table-hover" style="text-align:center">
            <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Lugar de Nacimiento</th>
                <th>Fecha de Nacimiento</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody class="table-warning">


            <tr  th:each="autor : ${autores}">
                <td th:text="${autor.nombre}">Nombre</td>
                <td th:text="${autor.apellido}">Nombre</td>
                <td th:text="${autor.lugarNacimiento}">Nombre</td>
                <td
                        th:text="${#temporals.format(autor.fechaNacimiento,'dd/MM/YYYY')}"></td>
                <td>
                    <a th:href="@{/autores/editar/{id}(id=${autor.id})}"  class="btn btn-info"><i class="bi bi-person-fill-gear"></i> Editar</a>
                    <a href="#" onclick="eliminarAutor(this)" class="btn btn-danger"><i class="bi bi-person-fill-slash"></i> Eliminar</a>

                    <form th:action="@{/eliminar/{id}(id=${autor.id})}" method="post"></form>

                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>

<!-- Js links -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<!-- Función js -->
<script>
                function eliminarAutor(elemento){
                var ok = confirm('Si no hay registros previos de libros con este autor, ¿Estás seguro de eliminar el autor?');

                if(ok){
                elemento.nextElementSibling.submit();
                }
              }
           </script>




</body>
</html>